* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
}

/*Variables*/
:root {
    --main-color: #7700ff;
    --main-color-light: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #7700ff;
    /*Box Shadow*/
    --box-shadow: 2px 2px 10px 4px rgba(14, 55, 54, .15);
}

body {

    background: url('imagenes/Background.png') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: overlay;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}

.main {
    color: #ffffff;
    width: 100%;
}

.mitad {
    margin: 0.5%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* Color del texto */
    font-size: 24px;
    /* Tamaño del texto */
    text-align: center;
    /* Alineación del texto */
    overflow: hidden;
}

.arriba {
    margin: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* Color del texto */
    font-size: 24px;
    /* Tamaño del texto */
    text-align: center;
    /* Alineación del texto */
    overflow: hidden;
}

.contenido {
    max-height: 80%;
    /* Ajusta el alto máximo según sea necesario */
    overflow-y: auto;
    /* Habilita el scroll vertical si es necesario */
    width: 100%;
    background-color: #9b59b6;
    /* Color morado para el fondo de la sección de la lista */
    padding: 20px;
    border-radius: 10px;
    /* Bordes redondeados opcionales */
}

.lista {
    list-style-type: none;
    /* Quita los puntos de la lista */
    padding: 0;
    margin: 0;
}

.lista li {
    background-color: #8e44ad;
    /* Color morado más oscuro para el fondo de los ítems */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.btn {
    padding: 10px 40px;
    border-radius: 0.3rem;
    background-position: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;

}